In [1]:
## all packages used in this project
import pandas as pd
import sklearn as sk
import sktime as st
import matplotlib.pyplot as plt

In [49]:
## we load multi-variate datasets into the environment
from sktime.utils.load_data import load_from_arff_to_dataframe
X_train, y_train = load_from_arff_to_dataframe("BasicMotions/BasicMotions_TRAIN.arff")
X_train.head()
X_test,y_test = load_from_arff_to_dataframe("BasicMotions/BasicMotions_TEST.arff")

In [3]:
X_train.head()

,dim_0,dim_1,dim_2,dim_3,dim_4,dim_5
0,0 0.079106 1 0.079106 2 -0.903497 3...,0 0.394032 1 0.394032 2 -3.666397 3...,0 0.551444 1 0.551444 2 -0.282844 3...,0 0.351565 1 0.351565 2 -0.095881 3...,0 0.023970 1 0.023970 2 -0.319605 3...,0 0.633883 1 0.633883 2 0.972131 3...
1,0 0.377751 1 0.377751 2 2.952965 3...,0 -0.610850 1 -0.610850 2 0.970717 3...,0 -0.147376 1 -0.147376 2 -5.962515 3...,0 -0.103872 1 -0.103872 2 -7.593275 3...,0 -0.109198 1 -0.109198 2 -0.697804 3...,0 -0.037287 1 -0.037287 2 -2.865789 3...
2,0 -0.813905 1 -0.813905 2 -0.424628 3...,0 0.825666 1 0.825666 2 -1.305033 3...,0 0.032712 1 0.032712 2 0.826170 3...,0 0.021307 1 0.021307 2 -0.372872 3...,0 0.122515 1 0.122515 2 -0.045277 3...,0 0.775041 1 0.775041 2 0.383526 3...
3,0 0.289855 1 0.289855 2 -0.669185 3...,0 0.284130 1 0.284130 2 -0.210466 3...,0 0.213680 1 0.213680 2 0.252267 3...,0 -0.314278 1 -0.314278 2 0.018644 3...,0 0.074574 1 0.074574 2 0.007990 3...,0 -0.079901 1 -0.079901 2 0.237040 3...
4,0 -0.123238 1 -0.123238 2 -0.249547 3...,0 0.379341 1 0.379341 2 0.541501 3...,0 -0.286006 1 -0.286006 2 0.208420 3...,0 -0.098545 1 -0.098545 2 -0.023970 3...,0 0.058594 1 0.058594 2 0.175783 3...,0 -0.074574 1 -0.074574 2 0.114525 3...

In [13]:
## transfer time series datasets in a picture topology structure
## it means one time series is one table with two dimensions
for i in range(X_train.shape[0]):
    pd.concat([X_train['dim_0'][i].to_frame(),X_train['dim_1'][i].to_frame(),
               X_train['dim_2'][i].to_frame(),X_train['dim_3'][i].to_frame(),
               X_train['dim_4'][i].to_frame(),X_train['dim_5'][i].to_frame()],axis=1,ignore_index=True).to_csv('split_data/'+str(i)+'.csv')

In [15]:
import glob,os
path = "split_data/"
file = glob.glob(os.path.join(path, "*.csv"))
print(file)

['split_data/6.csv', 'split_data/7.csv', 'split_data/5.csv', 'split_data/4.csv', 'split_data/0.csv', 'split_data/1.csv', 'split_data/3.csv', 'split_data/2.csv', 'split_data/37.csv', 'split_data/23.csv', 'split_data/22.csv', 'split_data/36.csv', 'split_data/20.csv', 'split_data/34.csv', 'split_data/35.csv', 'split_data/21.csv', 'split_data/25.csv', 'split_data/31.csv', 'split_data/19.csv', 'split_data/18.csv', 'split_data/30.csv', 'split_data/24.csv', 'split_data/32.csv', 'split_data/26.csv', 'split_data/27.csv', 'split_data/33.csv', 'split_data/16.csv', 'split_data/17.csv', 'split_data/29.csv', 'split_data/15.csv', 'split_data/14.csv', 'split_data/28.csv', 'split_data/10.csv', 'split_data/38.csv', 'split_data/39.csv', 'split_data/11.csv', 'split_data/13.csv', 'split_data/12.csv', 'split_data/9.csv', 'split_data/8.csv']

In [16]:
dl = []
for f in file:
    dl.append(pd.read_csv(f).to_numpy())

In [17]:
type(dl[0])

numpy.ndarray

In [19]:
import numpy as np
x_train = np.array(dl)

In [20]:
x_train.shape

(40, 100, 7)

In [23]:
type(y_train)

numpy.ndarray

In [24]:
for i in range(X_test.shape[0]):
    pd.concat([X_test['dim_0'][i].to_frame(),X_test['dim_1'][i].to_frame(),
               X_test['dim_2'][i].to_frame(),X_test['dim_3'][i].to_frame(),
               X_test['dim_4'][i].to_frame(),X_test['dim_5'][i].to_frame()],axis=1,ignore_index=True).to_csv('test/'+str(i)+'.csv')

In [27]:
import glob,os
path_t = "test/"
file_t = glob.glob(os.path.join(path_t, "*.csv"))
print(file_t)

['test/6.csv', 'test/7.csv', 'test/5.csv', 'test/4.csv', 'test/0.csv', 'test/1.csv', 'test/3.csv', 'test/2.csv', 'test/37.csv', 'test/23.csv', 'test/22.csv', 'test/36.csv', 'test/20.csv', 'test/34.csv', 'test/35.csv', 'test/21.csv', 'test/25.csv', 'test/31.csv', 'test/19.csv', 'test/18.csv', 'test/30.csv', 'test/24.csv', 'test/32.csv', 'test/26.csv', 'test/27.csv', 'test/33.csv', 'test/16.csv', 'test/17.csv', 'test/29.csv', 'test/15.csv', 'test/14.csv', 'test/28.csv', 'test/10.csv', 'test/38.csv', 'test/39.csv', 'test/11.csv', 'test/13.csv', 'test/12.csv', 'test/9.csv', 'test/8.csv']

In [119]:
dl_t = []
for f in file_t:
    dl_t.append(pd.read_csv(f).to_numpy())

In [120]:
x_test = np.array(dl_t)

In [44]:
type(x_train)

numpy.ndarray

In [121]:
x_train = x_train.reshape(x_train.shape[0], 100, 7, 1)
x_test = x_test.reshape(x_test.shape[0], 100, 7, 1)

In [37]:
import tensorflow as tf

In [50]:
y_train

array(['Standing', 'Standing', 'Standing', 'Standing', 'Standing',
       'Standing', 'Standing', 'Standing', 'Standing', 'Standing',
       'Running', 'Running', 'Running', 'Running', 'Running', 'Running',
       'Running', 'Running', 'Running', 'Running', 'Walking', 'Walking',
       'Walking', 'Walking', 'Walking', 'Walking', 'Walking', 'Walking',
       'Walking', 'Walking', 'Badminton', 'Badminton', 'Badminton',
       'Badminton', 'Badminton', 'Badminton', 'Badminton', 'Badminton',
       'Badminton', 'Badminton'], dtype='<U9')

In [74]:
y_test

array(['Standing', 'Standing', 'Standing', 'Standing', 'Standing',
       'Standing', 'Standing', 'Standing', 'Standing', 'Standing',
       'Running', 'Running', 'Running', 'Running', 'Running', 'Running',
       'Running', 'Running', 'Running', 'Running', 'Walking', 'Walking',
       'Walking', 'Walking', 'Walking', 'Walking', 'Walking', 'Walking',
       'Walking', 'Walking', 'Badminton', 'Badminton', 'Badminton',
       'Badminton', 'Badminton', 'Badminton', 'Badminton', 'Badminton',
       'Badminton', 'Badminton'], dtype='<U9')

In [34]:
input_shape = (100,7,1)

In [108]:
y_train = np.ones(40)

In [95]:
len(y_train)

40

In [97]:
y_train[39]

1.0

In [109]:
## transfer catagorical dataset to numerical

## this will benefit for classification
y_train[10:20] = y_train[10:20] *2

In [110]:
y_train[20:30] = y_train[20:30] *3

In [111]:
y_train[30:40] = y_train[30:40] *4

In [38]:
from keras.models import Sequential
from keras.layers import Dense, Conv2D, Dropout, Flatten, MaxPooling2D
# Creating a Sequential Model and adding the layers
model = Sequential()
model.add(Conv2D(28, kernel_size=(3,3), input_shape=input_shape))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Flatten()) # Flattening the 2D arrays for fully connected layers
model.add(Dense(128, activation=tf.nn.relu))
model.add(Dropout(0.2))
model.add(Dense(10,activation=tf.nn.softmax))

In [115]:
model.compile(optimizer='adam', 
              loss='sparse_categorical_crossentropy', 
              metrics=['accuracy'])
model.fit(x=x_train,y=y_train, epochs=10)

Epoch 1/10
40/40 [==============================] - 0s 4ms/step - loss: 8.3279 - accuracy: 0.2500
Epoch 2/10
40/40 [==============================] - 0s 416us/step - loss: 5.3730 - accuracy: 0.3750
Epoch 3/10
40/40 [==============================] - 0s 405us/step - loss: 5.1629 - accuracy: 0.4500
Epoch 4/10
40/40 [==============================] - 0s 419us/step - loss: 5.3125 - accuracy: 0.5250
Epoch 5/10
40/40 [==============================] - 0s 413us/step - loss: 4.5344 - accuracy: 0.6250
Epoch 6/10
40/40 [==============================] - 0s 393us/step - loss: 5.0334 - accuracy: 0.5500
Epoch 7/10
40/40 [==============================] - 0s 404us/step - loss: 4.9336 - accuracy: 0.5250
Epoch 8/10
40/40 [==============================] - 0s 408us/step - loss: 4.7251 - accuracy: 0.5750
Epoch 9/10
40/40 [==============================] - 0s 380us/step - loss: 4.5877 - accuracy: 0.5500
Epoch 10/10
40/40 [==============================] - 0s 390us/step - loss: 4.8320 - accuracy: 0.5500

In [123]:
model.evaluate(x_test, y_test)

40/40 [==============================] - 0s 2ms/step

[5.9113819122314455, 0.5]

In [117]:
x_test

array([], shape=(0, 100, 7, 1), dtype=float64)